.discoverListWidget {
  padding: 160px 60px 0px 60px;

  &__head {
    display: flex;
    justify-content: space-between;

    > h2 {
      color: var(--Black, #141414);
      font-family: Manrope;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &__btnBlock {
      > button {
        border: none;
        cursor: pointer;
        text-decoration: none; /* Убираем подчеркивание */
        background: none; /* Убираем фон */
        padding: 0; /* Убираем отступы */
        margin: 0; /* Убираем отступы */
        font: inherit; /* Наследуем шрифт */
        outline: none; /* Убираем контур фокуса */
        color: inherit;
      }

      > button:first-child {
        margin-right: 20px;
      }
    }
  }

  &__list {
    margin-top: 34px;
    margin-bottom: 82px;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
    }

    ul li {
      margin-right: 68px;
    }
    ul li.active a {
      color: #6a62b7;
      font-weight: bold;
    }

    ul li:last-child {
      margin-right: 0;
    }

    ul li a {
      color: var(--Black, #141414);
      font-family: "Manrope";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: pointer;
    }

    ul li a:hover {
      color: var(--Primary, #6a62b7);
    }

    ul li p {
      width: 8px;
      height: 8px;
      background-color: #6a62b7;
      border-radius: 100%;
      margin-left: 45%;
      margin-top: 10px;
    }
  }
}

.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
