.recomListWidget {
  padding: 80px 60px 100px 60px;

  > h1 {
    color: var(--Black, #141414);
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__list {
    margin-top: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 24;
  }
}
